streamlit
pandas
altair
spacy
nltk
deep-translator
sumy
matplotlib
wordcloud
scikit-learn
langdetect
torch
numpy
pydub
beautifulsoup4
lxml
openpyxl
openai-whisper
python-docx
PyPDF2
audioop-lts
google-generativeai


